{% extends "index.html" %}
{%- block styles %}
    {{ super() }}
    <link href="{{ adminlte_find_resource('js/plugins/datatables/dataTables.bootstrap.css', cdn='local', use_minified=True) }}"
          rel="stylesheet" type="text/css">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/table.css') }}">
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/alert-message.css') }}">
{%- endblock styles %}

{% block content_header -%}
    <h1>
        {{ _('PGS Users') }}
        <small>{{ _('Managing roles and permissions in PGS system') }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ lurl_for('main.index') }}"><i
                class="fa fa-dashboard"></i> {{ _('Home') }}</a></li>
        <li><a href="#"><i class="fa fa-key"></i> {{ _('Administrator') }}</a>
        </li>
        <li class="active"><a href="{{ lurl_for('admin.users') }}"><i
                class="fa fa-user"></i>{{ _('Users Management') }}</a></li>
    </ol>
{%- endblock content_header %}

{% block content -%}
    <div class="col-md-3" id="box-alert-message-wrapper"
         style="z-index: 1002; position: absolute;top:55px;right:50px;">

    </div>
    <div class="row">
        <button id="demo-1" class="btn btn-primary">Success Message With
            Timer
        </button>
        <button id="demo-2" class="btn btn-primary">Info Message + Top Right
        </button>
        <button id="demo-3" class="btn btn-primary">Warning Message + Top Left
            + Custom Icons
        </button>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-header">
                    {% include "admin/user_management/table/users_table_header.html" %}
                    {% include "admin/user_management/table/form_modal.html" %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% include "admin/user_management/table/users_table.html" %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{%- endblock content %}


{% block scripts %}
    {{ super() }}
    <!-- DataTables -->
    <script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/dataTables.bootstrap.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/dataTables.buttons.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/buttons.bootstrap.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/buttons.print.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/buttons.html5.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/jszip.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/pdfmake.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/extensions/Buttons/js/vfs_fonts.js', cdn='local', use_minified=False) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-flash-alert.js') }}"></script>
    <!-- page script -->
    <script>
        var table = $('#pgs_users').DataTable({
            "language": {
                "url": "/static/" + '{{ g.language }}' + '.json'
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'Excel'
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'Print'
                }
            ],
            "processing": true,
            "serverSide": false,
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "initComplete": function (settings, json) {
                table.buttons().container().appendTo('#box-header-right');
            }
        });

        alertMessageConfig.setAlertMessageBox("#box-alert-message-wrapper");
        $.alert_message("This is a default message", "Default Message");
        $("#demo-1").click(function () {
            $.alert_message("Auto Close After: ", {
                withTime: true,
                type: 'success',
                title: 'Success Message',
                {#                icon: 'glyphicon glyphicon-heart',#}
            });
        });
        $("#demo-2").click(function () {
            $.alert_message("This is an info message 1231 1231 213" +
                " 123 231 231 3123 123 123 123 213 23 23 23 1", {
                title: 'Info Message',
                type: 'info',
            });
        });
        $("#demo-3").click(function () {
            $.alert_message("This is a warning message", {
                title: 'Warning Message',
                type: 'warning',
                icon: 'glyphicon glyphicon-heart',
            });
        });

        {#set data for new user form before show form#}

        function checkUserHasRole(user_roles, roleName) {
            var hasRole = false;
            for (i = 0; i < user_roles.length; i++) {
                if (user_roles[i] === roleName) {
                    hasRole = true;
                }
            }
            return hasRole;
        }

        $(document).on("click", '#create-new-user-btn', function (e) {
            $.ajax({
                type: "get",
                url: $(this).data('api-current-user-roles'),
                success: function (data, text) {
                    console.log(data);
                    var userRoles = [];
                    {% for role in current_user.roles %}
                        userRoles.append(role.name);
                    {% endfor %}

                    if (checkUserHasRole(userRoles, 'national_admin')) {
                        console.log("is_national_admin");
                    } else {
                        console.log("is_region_admin");
                    }
                    var name = $(this).data('name');
                    var id = $(this).data('id');
                    var content = $(this).data('content');
                    var quote = $(this).data('quote');

                    $(".business_skill_id").val(id);
                    $(".business_skill_name").val(name);
                    $(".business_skill_quote").val(quote);
                    tinyMCE.get('business_skill_content').setContent(content);

                },
                error: function (request, status, error) {
                    console.log(request);
                    console.log(error);

                    alert(request.responseText);
                }
            });

        });


        {#set event when click to choose role in create user form#}


        {#        $(document).on("click", '#create-new-user-btn', function (e) {#}
        {#            // Assign handlers immediately after making the request,#}
        {#            // and remember the jqxhr object for this request#}
        {#            var jqxhr = $.get("{{  lurl_for('main.index')}}", function (data) {#}
        {#                alert("success");#}
        {#            })#}
        {#                .done(function () {#}
        {#                    alert("second success");#}
        {#                })#}
        {#                .fail(function () {#}
        {#                    alert("error");#}
        {#                })#}
        {#                .always(function () {#}
        {#                    alert("finished");#}
        {#                });#}
        {#            jqxhr.always(function () {#}
        {#                alert("second finished");#}
        {#            });#}
        {##}
        {##}
        {#            var name = $(this).data('name');#}
        {#            var id = $(this).data('id');#}
        {#            var content = $(this).data('content');#}
        {#            var quote = $(this).data('quote');#}
        {##}
        {#            $(".business_skill_id").val(id);#}
        {#            $(".business_skill_name").val(name);#}
        {#            $(".business_skill_quote").val(quote);#}
        {#            tinyMCE.get('business_skill_content').setContent(content);#}
        {#        });#}

    </script>
{%- endblock scripts %}



