<table id="pgs_users"
       class="table table-bordered table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" class="users-table-check-all"></th>
        <th>{{ _('User ID') }}</th>
        <th>{{ _('User Name') }}</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Roles') }}</th>
        <th>{{ _('Region') }}</th>
        <th>{{ _('Actions') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                <input type="checkbox" class="users-table-check-box"
                       data-user-id="{{ user.id }}">
            </td>
            <td>
                {#                <a href="{{ lurl_for('certificate.details',#}
                {#                          certificate_id=certificate.certificate_id) }}">#}
                {#                    {{ certificate.certificate_id }}#}
                {#                </a>#}
                {{ user.id }}
            </td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.roles|length==1 %}
                    {{ user.roles[0].name }}
                {% else %}
                    {% for role in user.roles %}
                        {{ role }},
                    {% endfor %}

                {% endif %}
            </td>
            <td>
                {% if user.region != None %}
                    {{ user.region }}
                {% else %}
                    {{ _('National') }}
                {% endif %}
            </td>
            <td class="actions_column">
                <div class="btn-group">
                    <a class="btn table-action-default btn-default btn-sm ajax-modal">
                        Edit User Roles
                    </a>
                    <a class="btn btn-default btn-sm dropdown-toggle"
                       data-toggle="dropdown" href="#"
                       aria-expanded="false">
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right row_actions">
                        <li>
                            <a class="btn table-action-danger ajax-modal">
                                Delete User
                            </a>
                        </li>

                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th><input type="checkbox" class="users-table-check-all"></th>
        <th>{{ _('User ID') }}</th>
        <th>{{ _('User Name') }}</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Roles') }}</th>
        <th>{{ _('Region') }}</th>
        <th>{{ _('Actions') }}</th>
        {#                            <th>{{ _('Actions') }}</th>#}
    </tr>
    </tfoot>
</table>


